.ember-modal-dialog
  border-radius: 0px
  box-shadow: none
  border: 1px solid #aaa
  border-bottom: 2px solid #bbb
  padding: 14px

  h1
    font-size: 12px
    text-transform: uppercase
    color: #aaa
    margin-top: 0px

  .input
    padding: 4px 0px
    padding-bottom: 8px

    input
      padding: 4px
      font-size: 14px
      border: 1px solid #aaa

  .name
    font-size: 12px
    padding: 4px 0px 0px 0px

.ember-modal-overlay.translucent
  background: rgba(0, 0, 0, 0.1)
