<div id='schedule'>
  {{outlet}}
</div>

<div id='schedule-tabs'>
  <ul>
  {{#each model as |schedule|}}
    <li>
      {{link-to schedule.name "event.schedule.show" schedule.event schedule}}
    </li>
  {{/each}}
  <li>
    <a href="#" class="subtle">{{fa-icon "plus"}}</a>
  </li>
  </ul>
</div>
